@keyframes slideInFromLeft {
  0% {
    transform: translateX(-200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#character1img {
  animation: slideInFromLeft 2s ease-out forwards;
  animation-delay: 0.5s;
}
